<h3 class="text-center">Thêm công việc</h3>
<div class="text-center mb-3">
    <button class="btn" style="border-radius: 50%; background-color: rgba(128, 128, 128, 0.096);"
        (click)="showBasicModal()">
        <i class="fa fa-plus" style="font-size: 30px ;"></i>
    </button>
</div>
<!-- <app-modal-form></app-modal-form> -->

<div *ngIf="loading">loading</div>


<ng-container>
    <div class="container">
        <div class="row">
            <!-- TaskItem -->
            <div class="col-6">
                <h3 class="text-center">Danh sách công việc</h3>
                <!-- Table prime -->
                <p-table [value]="tasks | async" [paginator]="true" [rows]="4" [showCurrentPageReport]="true"
                    currentPageReportTemplate=""
                    [rowsPerPageOptions]="[4,8,20]">
                    <ng-template pTemplate="body" let-task>
                        <!-- *ngFor="let task of tasks" -->
                        <div class="col-12" >
                            <app-task-item [task]="task" (onDelete)="deleteTask($event)" (onViewTask)="handleViewTask($event)">
                            </app-task-item>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                    </ng-template>
                </p-table>

                <!-- End Table prime  -->
                
            </div>
            <!-- TaskDetail -->
            <div class="col-6">    
                <app-task-detail #taskDetail></app-task-detail>
            </div>

        </div>
    </div>
</ng-container>

<!-- Ví dụ lấy task về mà không subscribe render ra giao diện luôn -->

<!-- <div *ngFor="let value in (tasks$ | async)">
    <p>{{value}}</p>
</div> -->

<!-- C2 Làm việc với observable -->
<!-- <div class="container">
    <div class="row" >
        <div class="col-6"  *ngFor="let taskItem of taskList"  >
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{taskItem?.name}}</h4>
                    <p class="card-text">{{taskItem?.user}}</p>
                    <p class="card-text">{{taskItem?.time}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
