<h3 class="text-center">Chi tiết công việc</h3>
<app-modal-form #formEdit></app-modal-form>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{taskDetail?.name | uppercase}}</h4>
        <p class="card-text">Mô tả: {{taskDetail?.description}}</p>
        <p class="card-text">Người thực hiện: {{taskDetail?.user}}</p>
        <p class="card-text">Thời gian: {{taskDetail?.time}}</p>         
    </div>

    <div class="d-flex card-icon" style="justify-content: center; align-items: center;">
        <button #btnEdit
        class="btn btn-primary" 
        (click)="editTask(taskDetail)" 
        [attr.data-name]="taskDetail?.name" 
        [attr.data-user]="taskDetail?.user"
        [attr.data-description]="taskDetail?.description"
        [attr.data-time]="taskDetail?.time"
        >
            <i class="fa fa-edit"></i>
        </button>
        <!-- <button class="btn btn-danger" (click)="deleteTask(task.id)" >
            <i class="fa fa-trash"></i>
        </button> -->
        <app-confirm-popup [keyId]="taskDetail?.id"></app-confirm-popup>
    </div>
</div>