
<div class="card mb-4"
    style="box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%); display: flex; flex-direction: row;">
    <div class="card-body" style="padding: 5px; padding-left: 10px; ">
        <h4 class="card-title">{{task.name | uppercase}}</h4>
    </div>

    <!-- Những nút chỉnh sửa cũ -->
    <div class="d-flex card-icon" style="justify-content: center; align-items: center;">
        <!-- <button class="btn btn-primary" (click)="editTask(task)" >
            <i class="fa fa-edit"></i>
        </button> -->
        <!-- <button class="btn btn-danger" (click)="deleteTask(task.id)" >
            <i class="fa fa-trash"></i>
        </button> -->
        <!-- <app-confirm-popup [keyId]="task.id"></app-confirm-popup> -->
    </div>

    <button class="btn btn-success w-25 m-3" (click)="handleViewTask()" >
        Xem Chi Tiết
    </button>

</div>