.card {
    .card-body{
        p{
            margin-bottom: 5px;
        }
    }
    .card-icon {
        button {
            margin: 5px 10px 10px 0;
            i {
                font-size: 25px;
                margin: 1px;
            }
        }
    }
}
