<!-- <p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
<div id="modalForm">
    <p-dialog [closable]="false" [header]="kindHeader" [(visible)]="displayBasic" [style]="{width: '50vw'}"
        [baseZIndex]="10000">
        <button class="btn btn_close" (click)="closeModal()">
            <i class="pi pi-times"></i>
        </button>

        <form #formModal="ngForm">
            <div class="form-group mb-2">
                <label>Name</label>
                <input class="form-control" name="name" ngModel>
            </div>
            <div class="form-group mb-2">
                <label>Description</label>
                <input class="form-control" name="description" ngModel>
            </div>
            <div class="form-group mb-2">
                <label>User</label>
                <input class="form-control" name="user" ngModel>
            </div>
            <div class="form-group mb-2">
                <label>Time</label>
                <input class="form-control" name="time" ngModel>
            </div>
        </form>
        <ng-template pTemplate="footer">
            
            <div *ngIf="kindHeader === 'Add Task'"  >
                <p-button icon="pi pi-check" (click)="handleAddTask()" label="AddTask" styleClass="p-button-text">
                </p-button>
            </div>

            <div *ngIf="kindHeader === 'Edit Task'">
                <p-button icon="pi pi-check" (click)="handleUpdateTask()" label="UpdateTask" styleClass="p-button-text">
                </p-button>
            </div>
            
        </ng-template>
    </p-dialog>
</div>

