:host ::ng-deep .p-button {
    margin: 0 0.5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}


#modalForm {
    position: relative;
   .btn_close{
       width: 35px;
       height: 35px;
       position: absolute;
       top: 23px;
       right: 25px;
       border-radius: 50%;
       padding: 0;
       i{
           position: relative;
           font-size: 20px;
           top: 35%;
           transform: translateY(-50%);
       }
       &:focus{
           box-shadow: none;
       }
       &:hover{
           background-color: #e9ecef;
       }
       
   }

}

label{
    font-weight: bold;
}
