<div class="login">
    <form #formDangNhap="ngForm" class="formLogin col-4 mx-auto text-center" (ngSubmit)="handleLogin()">
        <h3 class="text-center mb-3">Đăng Nhập</h3>
        <span class="p-float-label">
            <input id="float-input" style="width: 100%;" type="text" pInputText name="taiKhoan" #taiKhoan="ngModel"
                required ngModel>
            <label for="float-input">Username</label>
            <!-- Validation -->
            <div *ngIf="taiKhoan.invalid && (taiKhoan.touched || taiKhoan.dirty)" class="alert alert-danger mt-2">
                <span *ngIf="taiKhoan.errors?.required">Tài khoản không được để trống</span>
            </div>
        </span>
        <span class="p-float-label mt-4">
            <input id="float-input" style="width: 100%;" type="text" pInputText name="matKhau" ngModel
                #matKhau="ngModel" required>
            <label for="float-input">Mật khẩu</label>
            <div *ngIf="matKhau.invalid && (matKhau.touched || matKhau.dirty)" class="alert alert-danger mt-2 mb-2">
                <span *ngIf="matKhau.errors?.required">Mật khẩu không được bỏ trống</span>
            </div>



        </span>

        <button [disabled]="formDangNhap.invalid" pButton pRipple type="submit" class="p-button-rounded mt-3">Đăng nhập</button>

    </form>
</div>