.login{
    background-image: url('../../../assets/img/hISTKx.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    .formLogin{
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.274);
        h3{
            color: white;
        }
        border-radius: 3px;
        box-shadow: 0 0 5px 5px rgba(236, 236, 236, 0.445);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}